<!DOCTYPE html>
<html lang="en">
<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HNGi7 Leaderboard</title>
 <link rel="stylesheet" href="/static/style.css">
 <link rel="stylesheet" href="bootstrap-4.4.1/css/bootstrap.min.css"> 
 <link rel="stylesheet" href="fontawesome/css/all.min.css">
</head>

<body>
<section id="container1">
<section id="navi">
    <h1><span id="bracket">[ ] </span>HNG i7</h1>
    <h3 id="Leadership">LEADERSHIP BOARD</h3>
    <div id="main">
        <h2 >Main</h2>
        <hr>
        <div id="Main1">
             <p id="Dash">Dash Board</p>
             <p>Explore</p>
             <p>Admins</p>
        </div>
    </div>
    <div id="help">
    <h2>Help</h2>
    <hr>
    <div id="help1">
        <p>About Us</p>
        <p>Contact Us</p>
        <p>Report</p>
    </div>
    </div>
    


</section>

<section id="content">
    <div id="header">
        <h1 id="head">This is the Leaderboard based on points merited
         </h1>
        
    </div>

    <div id="firstContent">
        <div id="firstPerson">
      position     1.
        <br>
           full name <b>{{top3[0].name}}</b> <br>
           username <b> {{top3[0].username}} </b><br>
       Point <b>    {{top3[0].points}}</b>
        </div>
        <div id="secondPerson">
      position     2.
        <br>
           full name <b> {{top3[1].name}} </b><br>
          username <b> {{top3[1].username}}   </b>  <br>
          Point <b> {{top3[1].points}} </b> </b>
        </div>
        <div id="thirdPerson">
     position   3.
        <br>
          full name <b>  {{top3[2].name}} </b><br>
           username <b>{{top3[2].username}}</b><br>
           Point <b>{{top3[2].points}} </b>
        </div>        
    </div>

    <div id="lastContent">
        <table style="width:100%">
            <tr>
              <th>Position</th>
              <th>Full Name</th>		
              <th>Slack Username</th>
              <th>Points</th>
              <th>Share</th>
            </tr>
            {% for user in users %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>		
              <td>{{user.points}}</td>
              <td>Share via <a href="#"><i class="fab fa-facebook"></i></a>
            </tr>
            {%endfor%}
                          
          </table>
    </div>
</section>
</section>


</body>
</html>
{%block content%}
{%endblock%}